* {
    font-family: Roboto, sans-serif;
}
.container {
    display: grid;
    grid: "section-1 section-1 section-1 section-1" 85vh 
    "about about about about" 60vh 
    "about about about about" 60vh 
    "services services services services" 90vh 
    "projects projects projects projects" 52vh
    "rodape rodape rodape rodape" 45vh / auto auto auto auto
}
.section-1 {
    grid-area: section-1;
    background: url(../images/lemons.jpg) no-repeat center;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-weight: 700;
}

.about {
    grid-area: about;
    display: grid;
    grid-template-areas: "item-1 item-1 image-1 image-1" "image-2 image-2 item-2 item-2";
}

.services {
    grid-area: services;
    display: flex;
    flex-direction: row;
}
.services .circulo-1, .services .circulo-2 {
    display: inline;
    text-align: center;
}
.services .circulo-1 img , .services .circulo-1 h3 , .services .circulo-1 p{
    padding: 15px;
}
.services .circulo-2 img , .services .circulo-2 h3 , .services .circulo-2 p{
    padding: 15px;
}
.services .circulo-1 img , .services .circulo-2 img{
    margin-top: 30px;
} 
.services .circulo-1 {
    background-color: blueviolet;
}
.services .circulo-2 {
    background-color: pink;
}

.services p {
    padding-bottom: 50px
}

.projects {
    grid-area: projects;
    display: flex;
    flex-direction: row;
}
.item-1 {
    grid-area: item-1;
}

.image-1 {
    grid-area: image-1;
    background: url(../images/bridge.jpg) no-repeat;
    background-position: center; 
}

.image-2 {
    grid-area: image-2;
    background: url(../images/sky.jpg) no-repeat;
    background-position: center;
}

.item-2 {
    grid-area: item-2;
}

.circulo-1 {
    grid-area: circulo-1;
}

.circulo-2 {
    grid-area: circulo-2;
}
.project-1 {
    background: url(../images/tomatoes.jpg) no-repeat;
    background-position: center;
    width: 100%;
    background-size: 101%;
}
.project-2 {
    background: url(../images/landscape.jpg) no-repeat;
    background-position: center;
    width: 100%;
    background-size: 101%;
}

.project-3 {
    background: url(../images/plants.jpg) no-repeat;
    background-position: center;
    width: 100%;
    background-size: 101%;
}
.project-4 {
    background: url(../images/flowers.jpg) no-repeat;
    background-position: center;
    width: 100%;
    background-size: 101%;
}
.projects a:hover{
    opacity: 70%;
}
.item-1,
.item-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 60px;
}

.about p,
.about .saiba-mais,
.services p {
    font-size: 20px;
}

.about h2,
.about p {
    margin-bottom: 15px;
}
.rodape{
    grid-area: rodape;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightgreen;
    row-gap: 50px;
}
.footer-menu , .redes-sociais{
    display: flex;
    flex-direction: row;
    column-gap: 30px;

}